<div class="container">
  <div class="left-side">
    <h5 class="sfa-text">Sfa.</h5>
    <p class="spa-name">Sales Force Automation</p>
    <div class="divider"></div>

    <h2 class="welcome-text">Lupa Kata Sandi</h2>
    <p class="forgot-password">Silakan masukan email Anda!</p>

    <div class="alert" *ngIf="isAlertShow">
      <div style="margin-left: 20px;" (click)="handleHideAlert()">
        <svg-icon src="../../../assets/icons/iconClear.svg"></svg-icon>
      </div>
      <p
        class="alert-title"
        style="flex: 1; margin-left: 20px; margin-top: 12px"
      >
        Email yang dimasukan salah
      </p>
    </div>

    <form (ngSubmit)="handleSubmit()" [formGroup]="form" class="form-container">
      <div class="input-container">
        <label for="email" class="-mb-4 text-sm font-semibold text-black"
          >Email</label
        >
        <mat-form-field
          class="input"
          floatLabel="never"
          class="example-not-full-width"
        >
          <input
            matInput
            type="text"
            formControlName="email"
            placeholder="Masukan email anda"
          />
          <mat-icon matSuffix class="icon-clear">
            <svg-icon
              *ngIf="!isEmailValid"
              src="../../../assets/icons/iconClear.svg"
            ></svg-icon>
          </mat-icon>
        </mat-form-field>
      </div>
      

      <div style="width: 100%; margin-top: -20px">
        <button type="button" (click)="openDialog()" class="btn-signin" mat-button color="primary">
          Kirim
        </button>
      </div>
    </form>
  </div>
  <div class="right-side">
    <svg-icon class="svg" src="../../../assets/images/iconForgotPassword.svg"></svg-icon>
  </div>
</div>
