<div class="container">
  <div class="left-side">
    <h5 class="sfa-text">Sfa.</h5>
    <p class="spa-name">Sales Force Automation</p>
    <div class="divider"></div>

    <h2 class="welcome-text">Atur Ulang Kata Sandi</h2>

    <form (ngSubmit)="handleSubmit()" [formGroup]="form" class="form-container">
      <div class="input-container">
        <label for="password" class="-mb-4 text-sm font-semibold text-black"
          >Kata Sandi Baru</label
        >
        <mat-form-field floatLabel="never" class="example-not-full-width">
          <input
            matInput
            placeholder="Konfirmasi kata sandi"
            [type]="isVisibleNewPassword ? 'password' : 'text'"
            formControlName="newPassword"
          />
          <mat-icon
            (click)="handleShowNewPassword()"
            matSuffix
            [ngClass]="iconPasswordColor"
            >{{
              isVisibleNewPassword ? "visibility" : "visibility_off"
            }}</mat-icon
          >
        </mat-form-field>
      </div>
      <div class="input-container">
        <label for="password" class="-mb-4 text-sm font-semibold text-black"
          >Konfirmasi Kata Sandi</label
        >
        <mat-form-field floatLabel="never" class="example-not-full-width">
          <input
            matInput
            placeholder="Konfirmasi kata sandi"
            [type]="isVisibleConfirmPassword ? 'password' : 'text'"
            formControlName="confirmPassword"
          />
          <mat-icon
            (click)="handleShowConfirmPassword()"
            matSuffix
            [ngClass]="iconPasswordColor"
            >{{
              isVisibleConfirmPassword ? "visibility" : "visibility_off"
            }}</mat-icon
          >
        </mat-form-field>
      </div>
      <div style="width: 100%; margin-top: -20px">
        <button
          type="button"
          (click)="openDialog()"
          class="btn-signin"
          mat-button
          color="primary"
        >
          Simpan
        </button>
      </div>
    </form>
  </div>
  <div class="right-side">
    <svg-icon class="svg" src="../../../assets/images/iconForgotPassword.svg"></svg-icon>
  </div>
</div>
